.background-login {
  background: url(../img/bgo2.png) no-repeat center center/cover;

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.wrapper2 {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px); */
  opacity: 0.9;
  /* margin-left: 25%; */
  margin-top: 25px;
  margin-bottom: 25px;
  background: #fff;
  padding-bottom: -30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #080000;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #0b0000;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #060000;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #080000;
}

#remember {
  accent-color: #040000;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #090000;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.button-login {
  background-color: brown;
  border: 2px solid black;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  transition: all 0.2s ease;
}

.button-login:hover {
  border: 2px solid yellow;
  cursor: pointer;
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #080000;
}
.remember {
  margin-top: 12px;
  color: #080000;
}
